<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Jacob Zhang copyright message. 2022——2025.All rights reserved~(:3)~
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coptone.source.mapper.AgencyDetailMapper">

    <resultMap id="BaseResultMap" type="com.coptone.source.entity.db.wuyouco.AgencyDetail">
            <result property="saId" column="sa_id" />
            <result property="cldl" column="cldl" />
            <result property="clzl" column="clzl" />
            <result property="cl" column="cl" />
            <result property="sl" column="sl" />
            <result property="clsx" column="clsx" />
            <result property="clbz" column="clbz" />
            <result property="clzlbz" column="clzlbz" />
    </resultMap>

    <sql id="Base_Column_List">
        sa_id,cldl,clzl,cl,sl,clsx,
        clbz,clzlbz
    </sql>
</mapper>
