<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coptone.source.mapper.OctRpaMapper">

    <resultMap id="BaseResultMap" type="com.coptone.source.entity.db.wuyouco.OctRpa">
            <result property="siteCode" column="site_code" />
            <result property="siteConcat" column="site_concat" />
            <result property="username" column="username" />
            <result property="processName" column="process_name" />
            <result property="statusName" column="status_name" />
            <result property="startTime" column="start_time" />
            <result property="isDelayed" column="is_delayed" />
    </resultMap>

    <sql id="Base_Column_List">
        site_code,site_concat,username,process_name,status_name,start_time,
        is_delayed
    </sql>
</mapper>
