<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Jacob Zhang copyright message. 2022——2025.All rights reserved~(:3)~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

</beans>